    * {padding: 0;
    }
    
    body {
        max-width: 100%;
        font-family:'montserrat',sans-serif;
        margin:0;
    }
    .header{
        width:100%;
    }
    .drop-down{
        width: 100%;
        float: left;
        padding-bottom: 10px;
        padding-top:0px;
        position: absolute;
        background-color: grey
    }
    .drop-down span {
        top: auto; 
        float: left;
        margin-top: 20px;
        font-size: 40px;
        color: black;
        width: 19%;
        text-align: center;
        font-family: 'oswald',sans-serif;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    .section_1{
         background-image: linear-gradient(to right bottom,#c7c6c3c4, #424141b9),url('../images/background-image.jpg');
         width:100%;
         height: 100vh;
    }
    .section_1 span h3{
         font-size: 80px;
         padding: 50px 0 0 0;
         margin: 100px 0 0 0;
    }
    .section_1 span h4{
        font-size: 60px;
        margin: 10px;
    }
    .profile-details{
         text-align: center;
         width:60%;
         float: left;
         position: relative;
         top: 255px;
         left: 20px;
    }
    .profile-img{
         text-align: center;
         width: 39%;
         float: left;
         position:relative;
         top: 220px;
right: 125px;
    }
    .profile-img img{
          width: 680px;
    }
    .mystory-profile-img{
        text-align: center;
        width: 39%;
        float: left;
        position: relative;
        top: 130px;
        left:95px;
   }
   .mystory-profile-img img{
         width:560px;
        
   }
   .about-me{
       padding: 20px;
       font-family:'oswald',sans-serif;
       font-size: 50px;
       position: relative;
       top: 200px;
       left: -29px;
   }
   .about-me span{
       padding-left: 30px;
   }
   p{
    padding: 75px;
    text-align: justify;
}

.aboutme-details{
font-family:'oswald',sans-serif;
font-size: 30px;
padding: 20px;
width: 40%;
position: relative;
top: 135px;
left: 20px;
}
.linkedin {
    width: 20px;
    position: relative;
    top: -45px;
    left: 460px;    
    }
    .linkedin-img img {
        width: 10px;
    }
@media screen and (max-width:720px) {
    .header {
        font-size: 20px;
    }
    .section_1 {
        font-size: 10px;
    }
}